<div class="row">
  <div class="col-xs-12">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <button
      type="button"
      class="btn btn-success"
      [routerLink]="['/question']"
    >Add Questions
    </button>
  </div>
</div>
<hr>

<div class="list-group" *ngIf="questions">
  <div class="list-group-item" *ngFor="let questionElement of questions">
    <h4 class="list-group-item-heading">{{questionElement.question}}</h4>
    <p class="list-group-item-text">{{questionElement.answer}}</p>
  </div>
</div>
