<div class="row">
  <div class="col-xs-12">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <button
      type="button"
      class="btn btn-success"
      [routerLink]="['/question']"
    >Add
    </button>
  </div>
</div>
<hr>
<div class="list-group-item clearfix">
  <div class="pull-left">
    <div *ngFor="let questionElement of questions">
      <div class="list-group-item-heading">Question#: {{questionElement.id}}</div>
      <div class="list-group-item-heading">Question: {{questionElement.question}}</div>
      <div class="list-group-item-text">Answer: {{questionElement.answer}}</div>
      <button type="button" [routerLink]="['/questions',questionElement.id]" class="btn btn-warning">Update
      </button>
    </div>
  </div>
</div>
