<div class="row">
  <div class="col-xs-12">
    <app-alert [message]="saved" *ngIf="saved" (close)="onHandleSave()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #questionForm="ngForm" (ngSubmit)="onSubmit(questionForm)">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!questionForm.valid"
          >Add
          </button>
          <button type="button" class="btn btn-danger"
                  (click)="onCancelClick()">Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="id">Question#:  </label>
            <input
              type="text"
              class="form-control"
              id="id"
              name="id"
              required
              [(ngModel)]="question.id"
              *ngIf="false">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="question">Question</label>
            <input
              type="text"
              class="form-control"
              id="question"
              name="question"
              required
              [(ngModel)]="question.question"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="question">Answer</label>
            <textarea
              type="text"
              class="form-control"
              id="answer"
              name="answer"
              required
              [(ngModel)]="question.answer"></textarea>
          </div>
        </div>
      </div>
    </form>
    <hr>
  </div>
</div>
