<div class="row">
  <div class="col-xs-12">
    <app-alert [message]="saved" *ngIf="saved" (close)="onHandleSave()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="row">
      <h2>Edit Question</h2>
    </div>
    <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!editForm.valid"
          >Save
          </button>
          <button type="button" class="btn btn-danger"
                  (click)="removeQuestion(editForm)">Remove
          </button>
          <button type="button" class="btn btn-default"
                  (click)="onBackClick()">Back
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="question">Question</label>
            <input
              type="text"
              class="form-control"
              id="question"
              name="question"
              [(ngModel)]="question.question"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="answer">Answer</label>
            <textarea
              type="text"
              class="form-control"
              id="answer"
              name="answer"
              [(ngModel)]="question.answer"></textarea>
          </div>
        </div>
      </div>
    </form>
    <hr>

  </div>
</div>
